<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
	The <a href="http://weblog.rubyonrails.org/2012/2/26/edge-rails-patch-is-the-new-primary-http-method-for-updates/"> Ruby on Rails </a>
	is a project to make a book and screencasts to teach web development with <a href="http://weblog.rubyonrails.org/2012/2/26/edge-rails-patch-is-the-new-primary-http-method-for-updates/"> Ruby second </a>. 
	This the sample application for tutorial.
</p>

